target
tomcat-home
${tomcat.home}
.settings
.classpath
.project-info
.project-infoc
*.iml
.externalToolBuilders
.project
*.log
*.launch
${tomcat.repo.home}
${tomcat.share.home}
activemq-data
sharepoint/
WebPreviewer.swf
