cmisclient/target/**
cmisclient/tomcat-home/**
migration/target/**
migration/tomcat-home/**
repo/target/**
share/target/**
webpreviewer/target/**
pdfa-pilot-converter/target/**
pdfa-pilot-converter/tomcat-home/**
.idea
*.iml
*.launch
.springBeans
/share/src/main/webapp/components/preview/WebPreviewer.swf
documentlibrary-actions.js

.project
repo/.classpath
repo/.settings/
share/.classpath
share/.settings/
cmisclient/.classpath
cmisclient/.settings/
migration/.classpath
migration/.settings/
.settings/
repo/.springBeans
cmisclient/alfresco.log
cmisclient/tomcat-home/
migration/tomcat-home/
webpreviewer/target/
.c9revisions/
/.settings
/.project-info
/.project-infoc
/repo/alfresco.log
/repo/.externalToolBuilders/Copy_Evaluator.launch
/share/.externalToolBuilders/sync_webapp.launch

/target/
/webpreviewer/alfresco-vgr-webpreviewer.iml

/repo/${tomcat.repo.home}
/share/${tomcat.share.home}
/pdfa-pilot-converter/.idea/
/pdfa-pilot-converter/target/
/pdfa-pilot-converter/tomcat-home/
/pdfa-pilot-converter/pdfa-pilot-converter.iml

