/* @overridden projects/slingshot/source/web/modules/create-site.css */

.create-site
{
   width: 40em;
}

.create-site .moderated
{
   padding-left: 2em;
}

.create-site span.help
{
   font-size: 81%;   
}

.create-site input.disabled
{
	background-color: #eff0ed;
	color: #555753;
}