.permissions .groups,.permissions .users {
   border: 1px solid #c0c0c0; margin: 0em 1em 1em 1em; padding-bottom: 0.3em;
}

.permissions .groups .flat-button {
   width: 35% !important; float: right;
}

.permissions h2 {
   padding: 0.5em 1em 0.1em 1em !important;
}

.permissions .desc {
   padding-left: 1.25em;
}

.permissions .button-wrapper {
   float: right; margin-right: 12px;
}

.permissions .button-wrapper .yui-checkbox-button button {
   width: 135px;
}

.permissions .button-wrapper .peoplefinder {
   position: absolute; right: 13px; width: 874px; top: 272px;
}

.permissions .nousers {
   font-size: 123%; padding: 5px; text-align: center;
}

.permissions .search-bar .view-all {
   float: right;
}

.permissions .removeUser {
   float: right; padding-top: 5px;
}