.alfresco-share .search-control-panel .bd {
}

.alfresco-share .search-control-panel .search-control-form .search-field input {
    width: 480px;
}

.alfresco-share .search-control-panel .search-control-form .search-field {
    width: 480px;
    float: left;
    margin-left: 16px;
    margin-top: 6px;
}

.alfresco-share .search-control-panel .search-control-form .search-button {
    float: left;
    margin-top: 3px;
    margin-left: 18px;
}


.alfresco-share  .viewmode-field .remove {
    text-decoration: none;
    background: url("../images/remove-icon-16.png") no-repeat scroll center center transparent;
    float: right;
    width: 16px;
}

.alfresco-share  .viewmode-field .remove:hover {
    text-decoration: none;
}

.alfresco-share  .search-control-list, .alfresco-share .search-control-value-list {
    text-align: left;   
    margin: 4px;
    padding: 0px;
    background: white;
    list-style-type: none;
    border: 1px solid #C5D6E2;
 
}

.alfresco-share .search-control-value-list {
       width: 96%;
}

.alfresco-share  .search-control-list li, .alfresco-share .search-control-value-list li {
    padding: 6px;
    border-bottom: 1px solid #F0F0F0;
}

.alfresco-share  .search-control-list li.odd, .alfresco-share .search-control-value-list li.odd {
    background-color: #F8F8F8;
}


.alfresco-share .search-control-value-list li h3 {
    background: url("../../images/filetypes/generic-user-16.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}
.alfresco-share  .search-control-list .detail {
    font-size: 90%;
}

.alfresco-share  .search-control-list .detail span {
    font-weight: bold;
    
}

.alfresco-share  .search-control-form button {
    background: url("../../images/search-16.png") no-repeat scroll 12px 4px transparent;
    padding-left: 32px;
}

.alfresco-share .search-control-panel .search-site-or-all {
    clear: both;
    margin-left: 16px;
}

.alfresco-share .search-control-panel .search-control-helptext {
    text-align: center;
    border-bottom: 1px solid #DDD6A0;
    padding: 7px 9px 5px;
}

.alfresco-share .search-control-panel .search-control-result-box {
    height: 400px;
    overflow: auto;
}

.alfresco-share .search-control-panel .search-control-list li {
    font-size: 120%;
    padding: 3px;
    padding-left: 6px;
    border-bottom: 1px dashed #D7D7D7;
    cursor: pointer;
    
}

.alfresco-share .search-control-panel .search-control-list li:hover {
    background-color: #F5FAFF !important;

}



